body{
    background-color:rgb(125, 198, 223);
    display: flex;
    flex-direction: column;
    }
    header, footer{
        display: flex;
        background-color:rgb(99, 184, 184) ;
        color: black;
        padding: 10px;
        text-align: center;
        justify-content: center; 
        margin: 5px;
        flex-direction: column;
    }
    
    main{
        display: flex;
        justify-content:space-between;
        flex-direction: row;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    nav ul{
        list-style-type: none;
    }
    nav ul li{
        display: inline;
        font-size: 25px;
    }
    nav a:hover{
        background-color:cyan;
        color: black;
    }

    aside{
        flex: 200px;
        text-align: left;
        color:black;
        font-weight: bold;
        margin-left: 20px;
        margin-top: 20px;
        flex-grow: 1;
        flex-wrap: wrap;
    }

    section{
        flex-direction: column;
        flex-grow: 2;
        flex-wrap: wrap;
    }
    .p{
        background-color:rgb(93, 177, 177);
        padding:5px;
        margin-top: 5px;
        text-align: justify;
    }
    h1{
        font-weight: bold;
    }
    .footA{
        color: white;
    }
    .asideA{
        color: black;
        text-decoration: none;
    }
    table{
        border: 5px solid black;
        border-style:dashed black;
    }
    .item{
        flex: 200px;
        padding: 10px solid black;
        border: 2px solid black;
        background-color: aliceblue;
        color: black;
        margin: 10px;
    }
    .itemBig{
        flex: 2;
        padding: 10px solid black;
        border: 2px solid black;
        background-color:rgb(125, 198, 223);
        color: black;
        margin: 10px;
    }
    .container{
        display: flex;
        justify-content: center;
    }
    .sub{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
